/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.btnNormal
{
    color: white;background-color: darkgreen ;
	height: 50;
	font-size: 18;
	font-family: sans-serif;
    font-weight: bold;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
    padding: 5;		
	word-wrap: break-word;
}

.btnCancel
{
    color: white;background-color: red ;
	height: 50;
	font-size: 18;
	font-family: sans-serif;
    font-weight: bold;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
    padding: 5;		
}

.textEntry
{
	border-radius: 6; border-color: gray; border-width: 1; background-color: black; 
	font-size: 20; font-weight: bold; padding-left: 5; width: 400; margin-right: 20; height:60;
	color: white;
	placeholder-color: gray;
}

.textEntryActive
{
	border-radius: 6; border-color: gray; border-width: 1; background-color: white; 
	font-size: 20; font-weight: bold; padding-left: 5; width: 400; margin-right: 20; height:60;
	color: black;
	placeholder-color: gray;
}